@charset "utf-8";
/* CSS Document */


li {
	float:left;
	display:block;
	background-color:#ff3333;
	width:150px;
	height:20px;
	margin-right:5px;
	text-align:center;	
}
li.wide_li {
	width:250px;
}
li.narrow_li {
	width:60px;
}
li:hover {
	background-color:white;
}

#box1 {
	clear:both;
	height:24px;
	width:1300px;
}

a {
	text-decoration:none;
	display:block;
	margin-top:5px;
	color:white;
	font-weight:bold;
}
a:link    {color:#ffffff;}
a:visited {color:#ffffff;}
a:hover {
	color:red;
	background-color:white;
}
#tabs {
	height:15px;
}
