@charset "utf-8";
/* CSS Document */

body {
	background-color:#999999;
}
div#main {
	width:100%;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	background-color:rgba(208,246,244,1.00);
	color:white;
}
h1 {
	text-align:center;
	color:red;
	background-color:white;
}
h2 {
	text-align:center;
	color:blue;
}
table {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	border:#000000 3px solid;
}
td.title {
	background-color:rgba(96,92,92,1.00);
	font-size:20px;
	font-weight:bold;
	color:white;
	vertical-align:top;
}
span.alert {
	background-color:white;
	font:12px bold;
	color:red;
	text-align:right;
}
input.input_btn {
	width:140px;
	font-size:20px;
	font-weight:bold;
	color:white;
	background-color:#000066;
	border:#000066 3px solid;
}
#role_kind {
	font-size:20px; font-weight:bold;
	border:2px solid red;
	background-color:black;
	color:white;
}
td {
	font-size:16px;
	line-height:18px;
	text-align:left;
	background-color:rgba(150,144,144,1.00);
	color:white;
	font-weight:bold;
}
textarea {
	width:98%%;
	font-size:16px;
	line-height:18px;
	text-align:left;
	background-color:rgba(150,144,144,1.00);
	color:white;
	font-weight:bold;
}
button.confirm {
	border:4px solid blue;
	background-color:#0C0;
	color:white;
	font-size:24px;
	font-weight:bold;
}
button#cancel {
	border:3px solid yellow;
	background-color:red;
	color:yellow;
	font-size:18px;
	font-weight:bold;
}
div#responce {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
p.welcome {
	background-color:white;
	font-weight:bold;
	color:blue;
	text-align:right;
}
